append variables
  -
    var price= [
      {
        image:'shared-hosting.png',
        title:`SHARED HOSTING`,
        item1:'Increase the rank of you',
        item2:'website by the higher speed',
        price:'15.99',
      },
      {
        image:'vpn-hosting.png',
        title:`VPS HOSTING`,
        item1:'Be able to conceal your ID ',
        item2:'whenever needed',
        price:'8.99',
      },
      {
        image:'cloud-hosting.png',
        title:`CLOUD HOSTING`,
        item1:'Super convenient and highly ',
        item2:'customizable option',
        price:'7.99',
      },
      {
        image:'wp-hosting.png',
        title:`WORDPRESS HOSTING`,
        item1:'With low cost and high variety',
        item2:'of tools, plugins of your choice',
        price:'13.99',
      },

    ];

mixin Pricing(config) 
  .col-sm-6.col-xl-3.mb-3
    .card.card-span.shadow.py-4.h-100.border-top.border-4.border-primary
      .card-body
        .text-center
          img(src=`${CWD}assets/img/icons/${config.image}` alt='...' )
          h5.my-3!=config.title
          ul.list-unstyled
            li=config.item1
            li=config.item2
      .border-top.bg-white.text-center.pt-3.pb-0
        p.mb-0 Get started at 
        .d-flex.justify-content-center
          h3.fw-normal=config.price
          span.d-flex.align-items-center /month

mixin PricingTable 
  +Section#pricingTable.pt-6
    .row
      .col-lg-6.col-xxl-5.text-center.mx-auto.mb-5
        h2 Types of hosting that we provide
        p.mb-5 Our service is always affordable for everyone. 
    .row.h-100
      +Pricing(price[0])
      +Pricing(price[1])
      +Pricing(price[2])
      +Pricing(price[3])
